<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary Learning Tool</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>Hello</div>
    <audio class="my_audio" controls preload="none">
        <source src="{{ url_for('static', filename='data/audio/bend.mp3') }}" type="audio/mpeg">
    </audio>
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
                    <figure class="mdl-card__media">
                        <img src="https://tfirdaus.github.io/mdl/images/laptop.jpg" alt="" />
                    </figure>
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Learning Web Design</h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus, consectetur.</p>
                    </div>
                                    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read More</a>
        <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
                        <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
          </div>
                </div>
                
                
                
                <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
                    <figure class="mdl-card__media">
                        <img src="https://tfirdaus.github.io/mdl/images/html5.jpg" alt="" />
                    </figure>
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Learning HTML</h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus, consectetur.</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read More</a>
        <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
                        <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
          </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/tool.js') }}"></script>
</html>