<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary Learning Tool</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

</head>

<body>
    <div id="header">Vocabalulary Learning Tool</div>
    <!-- <audio class="my_audio" controls preload="none"> -->
    <!-- <source src="{{ url_for('static', filename='data/audio/bend.mp3') }}" type="audio/mpeg"> -->
    <!-- </audio> -->
    <div id="content">
        <div class="card">
            <input type="checkbox" class="card-visitors-indicator" />
            <div class="header">
                <label class="indicator" for="card-visitors-indicator">
                    {% for word in vocabulary %}
                    <audio class="my_audio" id='{{ word.eng }}' controls preload="none">
                        <source src="{{ url_for('static', filename=word.audio) }}" type="audio/mpeg">
                    </audio>
                    {% endfor %}
                </label>
                <div class="content">
                    <div class="data">
                        <div class="top">
                            <p class="title">Visitors</p>
                            <p class="date">01 Sep 2016 - 15 Sep 2016</p>
                        </div>
                        <div class="graph">
                            <div class="horizontal">
                            </div>
                            <div class="vertical">
                            </div>
                        </div>
                    </div>
                    <p class="title" id="eng-dict">{{ vocabulary[0].eng }}</p>
                    <!-- <p class="date">15 Sep 2016</p> -->
                    <div class="float"></div>
                </div>
            </div>
            <div class="info">
                <div>
                    <div style="padding-bottom: 6px;">
                        <input type="text" name="vn-word" id="vietnam-word" oninput="checkWord(this.value)">
                    </div>
                    <div id="result-user">
                        Please enter your answer...
                    </div>
                </div>
                <!-- <p class="counter" id="vn-dict">{{ vocabulary[0].vn }}<span class="unit"></span></p> -->
                <div style="display: grid; grid-template-columns: 40% 40%;grid-gap: 10px;">
                    <button onclick="changeWord(-1)" class="btn">Prev</button>
                    <button onclick="changeWord(1)" class="btn">Next</button>
                </div>
            </div>
            
        </div>
    </div>

</body>
<script>
    var vocab = {{ vocabulary | safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tool.js') }}"></script>

</html>